{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<article class="article-metadata">
  <img class="rounded-circle article-img" src="{% static 'img/avatar.jpg' %}" alt="Avatar" class="avatar">
  <div class="shadow-sm p-3 mb-5 bg-white rounded">
    My name is <strong>Amer Ahmed</strong> and I like to make website. I have github page and add everything that has
    been done on this course and it is Open-source software. <br />
    Miroi distance education is a great place and you can learn everything from the best teacher and they are helpful
    and skilled so that they are planning a good way for the students to learn the best. <br />
    I think it's good to keep reading on a semester so that I can get a great opportunity to move forward. Web
    development is an important topic for anyone who works with any kind of media on the Internet. It gives us a
    good reason for anyone who wants to work with Web Portals and handle basically anything from style templates
    HTML5 and CSS3 to JavaScript.
  </div>
  <article>
  {% endblock content%}
